@import '~bootstrap/scss/bootstrap';
body {
  width: 80vw;
}

h1 {
  text-align: center;
  padding: 1em 0;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 660px;
  align-items: center;
  justify-content: center;
}

.authentication, .games-display {
  width: 660px;
  margin: 1em auto;
  padding: .5em;
  background-color: #e8e8e8;
  border: 1px solid #000;
}

.container {
  width: 660px;
  height: 660px;
}

.box {
  display: flex;
  border: 1px solid #000;
  height: 200px;
  text-align: center;
}

.messages {
  width: 660px;
  margin: .1em auto;
  padding: .1em;
  background-color: #CCE5FF;
}

.failure {
  background-color: #f8d7da;
  color: #721c24;
}

.success {
  background-color: #d4edda;
  color: #2c693a;
}

.hidden {
  display: none;
}

#game-message {
  width: 660px;
  padding: 1em 0;
  margin: 0 auto;
  color: #000;
  text-align: center;
}

#current-player {
  width: 660px;
  padding: 1em 0;
  margin: 0 auto;
  color: #000;
  text-align: center;
}
#game-data-display {
  border: 1px solid #000;
  width: 660px;
  padding: 1em 0;
  margin: 0 auto;
  color: #000;
  text-align: center;
}
