@import '~bootstrap/scss/bootstrap';

h1 {
  text-align: center;
  padding: 2em 0;
}

.container {
  width: 660px;
  height: 660px;
}

.box {
  border: 1px solid #000;
  height: 200px;
  width: 10em;
}

#message {
  width: 660px;
  padding: 1em 0;
  margin: 0 auto;
  color: #000;
  text-align: center;
}

#current-player {
  width: 660px;
  padding: 1em 0;
  margin: 0 auto;
  color: #fff;
  text-align: center;
}
